@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Onest:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lexend Deca";
    background-color: #f2f2f2;
    text-align: center;
}

.rodape {
    background:#4CAF50;
    color:white;
    padding:20px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}


h1 {
    color: #333;
}

p {
    font-size: 18px;
    color: #555;
}

footer {
    position: absolute;
    bottom: 0; width: 100%;
}

