@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Onest:wght@100..900&display=swap');


body {
    font-family: "Lexend Deca";
    background-color: #f4f4f4;
    padding: 50px;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
}

.container a, a:visited, a:link {
    color:  rgb(0, 0, 0);
    text-decoration: none;
    background-color: #c0c0c0;
    border-radius: 5em;
}

img {
    max-width: 300px;
}


h2 {
    color: #2c7a7b;
    font-size: 40px;
    text-align: left;
}

p {
    margin: 8px 0;
}

.sucesso {
    color: green;
    font-weight: bold;
}
